{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}Pricing{% endblock title %}
{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Pricing</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Service</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Printing</td>
      <td>10Ksh</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Photocopying ID(Black and White)</td>
      <td>5Ksh</td>
    </tr>
      <tr>
      <th scope="row">3</th>
      <td>Photocopying ID(Colored)</td>
      <td>5Ksh</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Photocopying ID(Black and White</td>
      <td>5Ksh</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Typing And Printing (1 Page)</td>
      <td>35Ksh</td>
    </tr>
      <tr>
      <th scope="row">5</th>
      <td>Color Passport(4pcs)</td>
      <td>100Ksh</td>
    </tr>
      <tr>
      <th scope="row">6</th>
      <td>Passport Photo(Soft Copy)</td>
      <td>50Ksh</td>
    </tr>
      <tr>
      <th scope="row">7</th>
      <td>Scanning Documents</td>
      <td>20Ksh</td>
    </tr>
      <tr>
      <th scope="row">8</th>
      <td>Lamination</td>
      <td>50Ksh</td>
    </tr>
      <tr>
      <th scope="row">9</th>
      <td>ID Duplication</td>
      <td>50Ksh</td>
    </tr>
      <tr>
      <th scope="row">10</th>
      <td>Binding(5-10pg)</td>
      <td>40Ksh</td>
    </tr>
      <tr>
      <th scope="row">11</th>
      <td>Binding(31-50pg)</td>
      <td>50Ksh</td>
    </tr>
          <tr>
      <th scope="row">11</th>
      <td>Binding(51-100pg)</td>
      <td>80Ksh</td>
    </tr>
      <tr>
      <th scope="row">12</th>
      <td>DL Renewal</td>
      <td>150Ksh</td>
    </tr>
      <tr>
      <th scope="row">13</th>
      <td>Certificate of Good Conduct</td>
      <td>100Ksh</td>
    </tr>

        <tr>
      <th scope="row">14</th>
      <td>KRA Pin</td>
      <td>100Ksh</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>Tax Returns</td>
      <td>200Ksh</td>
    </tr>
      <tr>
      <th scope="row">16</th>
      <td>Passport Application</td>
      <td>300Ksh</td>
    </tr>
      <tr>
      <th scope="row">17</th>
      <td>TSC Number</td>
      <td>300Ksh</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>Helb Loan(First)</td>
      <td>300Ksh</td>
    </tr>
      <tr>
      <th scope="row">19</th>
      <td>Helb Loan(Subsequent)</td>
      <td>300Ksh</td>
    </tr>
      <tr>
      <th scope="row">20</th>
      <td>Other Online Applications</td>
      <td>200Ksh</td>
    </tr>


  </tbody>
</table>


            </div>
          </div>


        </div>

      </div>
    </section><!-- End Pricing Section -->


  </main><!-- End #main -->
{% endblock content %}